<button (click)="ss.close()" class="fixed right-3">
    <span class="material-icons text-2xl transform hover:scale-110 text-neutral-300 hover:text-white transition-all">
        close
    </span>
    <button (click)="logout()" class="fixed left-3">
        <span class="material-icons text-2xl transform hover:scale-110 text-neutral-300 hover:text-white transition-all">logout</span>
    </button>
</button>
<div class="flex w-full flex-col items-center justify-center">
        <h2 class="font-semibold text-xl">
            settings
        </h2>
</div>