<div class="flex flex-1 items-center border-2 p-12 border-teal-600 dark:bg-transparent bg-teal-600 rounded">
  <form (ngSubmit)="onSubmit()" class="flex flex-col gap-3">
    <label for="username" class="dark:text-white">Username:</label>
    <input type="text" id="username" name="username" class="p-2 rounded dark:bg-teal-100 dark:text-black"
      [(ngModel)]="model.username" required>

    <br>

    <label for="password" class="dark:text-white">Password:</label>
    <input type="password" id="password" name="password" class="p-2 rounded dark:bg-teal-100 dark:text-black"
      [(ngModel)]="model.password" required>

    <br>

    <button type="submit"
      class="dark:border-teal-600 dark:bg-transparent bg-teal-100 border-2 p-2 rounded dark:text-white hover:bg-teal-600 transition-all duration-200">Submit
    </button>
  </form>

</div>