<main class="main flex flex-col items-stretch min-h-screen min-w-full bg-zinc-200 dark:bg-zinc-900">
    <!-- topbar -->
    <div class="top-0 w-screen bg-zinc-300 dark:bg-zinc-950 text-white p-3 font-semibold text-lg shadow-lg">
      <div class="flex items-center justify-between">
        <p class="dark:text-white text-black ">
            Music Tracker
        </p>
        
        <button class="flex transition-transform hover:scale-125 align-middle" (click)="darkMode.set(!darkMode())">
          <span *ngIf="!darkMode()" class="material-icons">dark_mode</span>
          <span *ngIf="darkMode()" class="material-icons">light_mode</span>
        </button>
      </div>
    </div>
    <!-- content container -->
    <div class="flex flex-1 w-full h-full flex-row">
      <app-sidebar class="flex items-center justify-center"></app-sidebar>
      <div class="flex-1 overflow-hidden">
        <router-outlet></router-outlet>
      </div>
    </div>
    <app-player></app-player>
  </main>
  