<main class="main flex flex-col items-stretch min-h-screen min-w-full bg-slate-200 dark:bg-slate-900">
    <!-- topbar -->
    <!-- TODO: create a separated component for the topbar-->
    <div class="absolute top-0 w-screen bg-teal-600 text-white p-3 font-semibold text-lg shadow-lg">
        <div class="flex items-center justify-between"> 
            Music Tracker
            <button 
                class="flex transition-transform hover:scale-125 align-middle"
                (click)="darkMode.set(!darkMode())"
            >
                <span *ngIf="!darkMode()" class="material-icons">dark_mode</span>
                <span *ngIf="darkMode()" class="material-icons">light_mode</span>
            </button>
        </div>
    </div>

    <router-outlet></router-outlet>
</main>

