<div class="flex flex-col h-screen w-screen overflow-hidden">
    <app-loading></app-loading>
    <app-topbar class="h-[8vh] flex items-center p-4 justify-between" />
    <div class="h-[80vh] flex p-2 gap-2">
        <app-sidebar class="h-full flex flex-col items-center gap-2 min-w-24 rounded-md shadow-lg drop-shadow-2xl " />
        <app-container class="bg-neutral-900 flex-1 h-full rounded-md shadow-lg drop-shadow-2xl" />
        <app-settings *ngIf="ss.isActive"
            class="bg-neutral-900 p-3 flex flex-col max-w-96 flex-1 h-full rounded-md shadow-lg drop-shadow-2xl" />
    </div>
    <div class="h-[12vh] flex px-2 pb-2">
        <app-player class="flex flex-1 items-center justify-center" />
    </div>
</div>
