<div class="bg-neutral-900 w-full h-[24%] rounded-md flex flex-col items-center justify-evenly">
   <a href="/home" class="transition-transform transform hover:scale-110">
      <span class="material-icons text-4xl text-neutral-300 hover:text-white transition-all">home</span>
   </a>
   <a href="/search" class="transition-transform transform hover:scale-110">
      <span class="material-icons text-4xl text-neutral-300 hover:text-white transition-all">search</span>
   </a>
</div>
<div class="bg-neutral-900 w-full flex-1 rounded-md flex flex-col items-center">
   library
</div>