<div class="bg-neutral-900 w-full h-1/4 rounded-md flex flex-col items-center justify-evenly">
   <button (click)="goToHomePage()" class="transition-transform transform hover:scale-110">
      <span class="material-icons text-4xl text-neutral-300 hover:text-white transition-all">home</span>
   </button>
   <button (click)="goToSearchPage()" class="transition-transform transform hover:scale-110">
      <span class="material-icons text-4xl text-neutral-300 hover:text-white transition-all">search</span>
   </button>
</div>

<div class="bg-neutral-900 w-full rounded-md h-3/4 flex flex-col items-center">
   <!-- lista de albums -->
      <div *ngIf="albumService.recentAlbums.length > 0" class="flex flex-col mb-1 gap-1 mt-2 overflow-y-scroll flex-nowrap">
         <app-album-card *ngFor="let album of albumService.recentAlbums" [album]="album" />
      </div>
</div>