<!-- app-sidebar.component.html -->
<div
  class="flex flex-col items-center pt-3 justify-start gap-3 rounded-md m-2 p-3 w-20 h-[96%] place-self-center  dark:bg-zinc-950 bg-zinc-300 dark:text-white shadow-md drop-shadow-lg">
  <!-- first section -->
  <div class="flex flex-col p-2 gap-4 border-b-2 w-full items-center dark:border-zinc-500 border-zinc-600">
    <a href="/home" class="text-lg transition-transform transform hover:scale-110">
      <span class="material-icons">home</span>
    </a>
    <a href="/search" class="text-lg transition-transform transform hover:scale-110 ">
      <span class="material-icons">search</span>
    </a>
  </div>
  
  <button (click)="logAlbums()">
    click me
  </button>
</div>
